<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
<link href="../js/fullcalendar-2.7.1/fullcalendar.css" rel="stylesheet"/>

<section dir="rtl" id="two" class="wrapper style2 align-center" style="overflow:scroll">
    <div class="container">
		<div style="float:right;width:55%;height:100%;">
			<h2>
				לוח שנה
			</h2>

			<div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>

		</div>
		<div style="float:right;width:45%">
			<header>
				<h2>
					פעילויות שנרשמתי אליהן
				</h2>
			</header>
			<div class="">
				<event-preview ng-repeat="activity in activities | filter: filterActivities" id="{{activity.id}}" title="{{activity.name}}"></event-preview>
				<h2 ng-show="!(activities| filter:filterActivities).length">לא נמצאו פעילויות המכילות "{{filterActivities.title}}"</h2>
			</div>
		</div>
    </div>
</section>
