<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>מה יש לנו להציע?</h2>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <i class="icon big rounded fa-clock-o"></i>
                <p>כבר בדקת את לוח השנה שלנו? אולי תמצא אירוע בול עבורך!</p>
            </section>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 align-center">
    <div class="container" dir="rtl">
        <header>
            <h2>פעילויות מומלצות</h2>
            <input type="text" style="text-align:right;" ng-model="filterActivities.title" placeholder="...חפש" />
        </header>
        <!-- Activities -->
        <div class="row">
            <event-preview ng-repeat="activity in activities | filter: filterActivities" ng-model="activity" id="{{activity.id}}" title="{{activity.name}}"></event-preview>
            <h2 ng-show="!(activities| filter:filterActivities).length">לא נמצאו פעילויות המכילות "{{filterActivities.name}}"</h2>
        </div>
        <footer>
            <ul class="actions">
                <li>
                    <a href="#" class="button alt big">חפש עוד</a>
                </li>
            </ul>
        </footer>
    </div>
</section>
