<section id="two" class="wrapper style2 align-center">
    <div class="container" dir="rtl">
        <header>
            <h2>חפש אנשים</h2>
            <input type="text" style="text-align:right;" ng-model="filterUsers.name" placeholder="חפש..." />
        </header>
    </div>
    <div class="row">
        <user-preview ng-repeat="user in users | filter: filterUsers" ng-model="user" id="user.mail" name="user.firstname"></user-preview>
        <h2 ng-show="!(users| filter:filterUsers).length"></h2>
    </div>
</section>
