<!-- Profile -->
<section id="profile" class="wrapper" dir="rtl">
    <div class="container">

        <header class="major">
            <h2>איזור אישי</h2>
        </header>

        <!-- Form -->
        <section>
            <!-- Login Details -->
            <h3>פרטי התחברות</h3>
            <form ng-submit="signup()" ng-controller="signupController">
                <div class="3u 100u$(xsmall)">
                    <input type="email" name="mail" id="mail" value="" placeholder="דוא''ל"
                        ng-model="mail"/>
                </div>
                <br>
                <div class="3u$ 100u$(xsmall)">
                    <input type="password" name="password" id="password" value="" placeholder="סיסמה"
                        ng-model="password"/>
                </div>
                <br>

                <h3>פרטים אישיים</h3>
                <!-- Personal Details -->

                <div class="3u 5u$(xsmall)">
                    <input type="text" name="fisrtname" id="fisrtname " value="" placeholder="שם פרטי"
                           ng-model="firstname"/>
                </div>

                <div style="float:left" class="4u"><span class="image fit" ng-model="profilePic" value="http://plainicon.com/dboard/userprod/2802_db2aa/prod_thumb/plainicon.com-46957-256px-719.png">
                    <img src="http://plainicon.com/dboard/userprod/2802_db2aa/prod_thumb/plainicon.com-46957-256px-719.png" alt=""/></span>
                    <input type="submit" value="עיין" class="updatePic"/>
                </div>

                <br>
                <div class="3u 5u$(xsmall)">
                    <input type="text" name="lastname" id="lastname " value="" placeholder="שם משפחה"
                           ng-model="lastname"/>
                </div>
                <br>
                <div class="genderSection">
                    <div class="4u 12u$(small)">
                        <input type="radio" id="male" name="gender" checked
                               ng-model="gender">
                        <label for="male" value="זכר">זכר</label>
                        <input type="radio" id="female" name="gender" checked>
                        <label for="female" value="נקבה">נקבה</label>
                    </div>
                </div>
                <br>

                <div class="3u 5u$(xsmall)">
                    <input type="datetime" name="birthday" />
                </div>
                <br>

                    <div class="3u 5u$(xsmall)">
                        <input type="text" name="address" id="address" value="" placeholder="כתובת מגורים"
                               ng-model="address"/>
                    </div>
                    <br>

                    <div class="3u 5u$(xsmall)">
                        <input type="text" name="phone" id="phone" value="" placeholder="טלפון"
                               ng-model="phone"/>
                    </div>
                    <br>

                <div class="3u$">
                    <div class="select-wrapper">
                        <select dir="rtl" name="job" id="job" ng-model="job">
                            <option value="">- מקצוע - </option>
                            <option value="צייר">צייר</option>
                            <option value="מתכנת">מתכנת</option>
                            <option value="מנהל">מנהל</option>
                            <option value="מהנדס">מהנדס</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="12u$">
                    <textarea dir="rtl" name="message" id="message" placeholder="קצת עלי..." rows="6"></textarea>
                </div>

                <br>
                <div class="12u$">
                    <ul class="actions">
                        <li>  <input type="submit" id="submit" value="ההרשם!" /></li>
                    </ul>
                </div>
            </form>
        </section>

    </div>
</section>