<section id="one" name="view-profile" class="wrapper align-center">

    <div class="container">
        <header class="major">
            <h2 ng-if="user.type == '0'"><i class="fa fa-user"></i> משתמש - {{user.firstName}}  {{user.lastName}}</h2>
            <h2 ng-if="user.type == '1'"><i class="fa fa-users"></i> מרכז - {{user.firstName}}  {{user.lastName}}</h2>
        </header>

        <div class="row uniform 50%">
            <div class="6u 12u$(small)">
                <!-- description -->
                <div class="row">
                    <h2 style="font-style: italic; text-align: right;">"{{user.description}}"</h2>
                </div>
                <!-- phone -->
                <div class="row">
                    <span class="align-right fa fa-phone"></span>
                    <p class="align-right">טלפון: </p>
                    <h4>{{user.phone}}</h4>
                </div>
                <!-- birthday -->
                <div class="row">
                    <span class="align-right fa fa-calendar"></span>
                    <p class="align-right">תאריך לידה:</p>
                    <h4>{{user.birthday}}</h4>
                </div>
                <!-- job -->
                <div class="row">
                    <span class="align-right fa fa-rocket"></span>
                    <p class="align-right">מקצוע:</p>
                    <h4>{{user.job}}</h4>
                </div>
                <!-- categories -->
                <div class="row">
                    <p class="align-right">קטגוריות: </p>
                    <ul>
                        <li ng-repeat="category in user.categories"><label>{{category.name}}</label></li>
                    </ul>
                </div>
                <!-- address + map location -->
                <div class="row">
                    <span class="align-right icon-location-pin"></span>
                    <p class="align-right">כתובת:</p>
                    <h4>{{user.address}}</h4>
                    <br />
                    <div id="userAddressMap" style="height: 400px; width: 100%"></div>
                </div>
            </div>
            <div class="6u 12u$(small)">
                <!-- picture -->
                <div class="participants">
                    <span class="image fit"><img src="{{user.profilePic}}" style="width: 50%;" /></span>
                </div>
            </div>
        </div>
    </div>
</section>
