<section class="4u 12u$(small)">
    <!--<a href="#/profile/{{id}}">-->
        <!--&lt;!&ndash;<img class="image fit" ng-src="{{imagePath}}" height="160em" alt="" />&ndash;&gt;-->
        <!--<div class="event-card-gradient"></div>-->
        <!--<div class="details">-->
            <!--<h3>{{title}}</h3>-->
            <!--<h5><span class="icon big icon-clock2"></span> {{ start }}</h5>-->
        <!--</div>-->
    <!--</a>-->
    <i class="icon big rounded"><img ng-src="{{imagePath}}" style="border-radius:30px; width: 100%; height: 100%" /></i>
    <a href="#/profile/{{id}}"><h4>{{name}}</h4></a>
</section>